<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>FanGar</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'bootstrap-icons.css' %}" rel="stylesheet">
   
        <link href="{% static 'templatemo-topic-listing.css' %}" rel="stylesheet">
     
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<!--
page minaddor mijozlar 
-->
    </head>
    
    <body id="top">

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                  

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Bosh sahifa</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">Bo'limlar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3">Professorlar</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_4">loiyha Bajarilish tartibi</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_5">FAQs</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_6">Aloqa</a>
                            </li>

                        </ul>

                            <div class="d-none d-lg-block" style="margin-right:10px">
                                <a href="#aloqa" class="navbar-icon phone smoothscroll"><i class="fa-solid fa-phone-volume"></i></a>
                            </div>

                            <div class="d-none d-lg-block">
                                <a href="/login" class="navbar-icon smoothscroll"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                            </div>

                    </div>
                </div>
            </nav>
            

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 mx-auto">
                            <h1 class="text-white text-center">Ilmiy Tadqiqotchilar Platformasi</h1>
 

                            <h6 class="text-center"> Siz istagan barcha Maqolalar toplami    </h6>


                        </div>

                    </div>
                </div>
            </section>


            <section class="featured-section">
             
            </section>


            <section class="explore-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="mb-4"> Maqolalar  </h2>
                        </div>

                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true"> 1</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false"> 2</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">3</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="music-tab" data-bs-toggle="tab" data-bs-target="#music-tab-pane" type="button" role="tab" aria-controls="music-tab-pane" aria-selected="false">4</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education-tab-pane" type="button" role="tab" aria-controls="education-tab-pane" aria-selected="false">5</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="topics-detail.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2"> Muhandislik sohasida </h5>

                                                            <p class="mb-0">Topic Listing Template based on Bootstrap 5</p>
                                                        </div>

                                                        <span class="badge bg-design rounded-pill ms-auto">14</span>
                                                    </div>

                                                    <img src="/media/img_13.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="topics-detail.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2"> Dasturlash </h5>

                                                                <p class="mb-0">Dizaynerlar uchun </p>
                                                        </div>

                                                        <span class="badge bg-design rounded-pill ms-auto">75</span>
                                                    </div>

                                                    <img src="/media/img_4.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="topics-detail.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Logo Design</h5>

                                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                        </div>

                                                        <span class="badge bg-design rounded-pill ms-auto">100</span>
                                                    </div>

                                                    <img src="/media/img_15.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="topics-detail.html">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2">Advertising</h5>

                                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                            </div>

                                                            <span class="badge bg-advertising rounded-pill ms-auto">30</span>
                                                        </div>

                                                        <img src="/media/img_11.png" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="topics-detail.html">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2">Video Content</h5>

                                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                            </div>

                                                            <span class="badge bg-advertising rounded-pill ms-auto">65</span>
                                                        </div>

                                                        <img src="/media/img_2.png" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="topics-detail.html">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2">Viral Tweet</h5>

                                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                            </div>

                                                            <span class="badge bg-advertising rounded-pill ms-auto">50</span>
                                                        </div>

                                                        <img src="/media/img_9.png" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                  </div>

                                <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">   <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="topics-detail.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Investment</h5>

                                                            <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                        </div>

                                                        <span class="badge bg-finance rounded-pill ms-auto">30</span>
                                                    </div>

                                                    <img src="/media/img_7.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="custom-block custom-block-overlay">
                                                <div class="d-flex flex-column h-100">
                                                    <img src="images/businesswoman-using-tablet-analysis-graph-company-finance-strategy-statistics-success-concept-planning-future-office-room.jpg" class="custom-block-image img-fluid" alt="">

                                                    <div class="custom-block-overlay-text d-flex">
                                                        <div>
                                                            <h5 class="text-white mb-2">Finance</h5>

                                                            <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint animi necessitatibus aperiam repudiandae nam omnis</p>

                                                            <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                                                        </div>

                                                        <span class="badge bg-finance rounded-pill ms-auto">25</span>
                                                    </div>

                                                    <div class="social-share d-flex">
                                                        <p class="text-white me-4">Share:</p>

                                                        <ul class="social-icon">
                                                            <li class="social-icon-item">
                                                                <a href="#" class="social-icon-link bi-twitter"></a>
                                                            </li>

                                                            <li class="social-icon-item">
                                                                <a href="#" class="social-icon-link bi-facebook"></a>
                                                            </li>

                                                            <li class="social-icon-item">
                                                                <a href="#" class="social-icon-link bi-pinterest"></a>
                                                            </li>
                                                        </ul>

                                                        <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                                                    </div>

                                                    <div class="section-overlay"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="music-tab-pane" role="tabpanel" aria-labelledby="music-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="topics-detail.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Composing Song</h5>

                                                            <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                        </div>

                                                        <span class="badge bg-music rounded-pill ms-auto">45</span>
                                                    </div>

                                                    <img src="/media/img_12.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="topics-detail.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Online Music</h5>

                                                            <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                        </div>

                                                        <span class="badge bg-music rounded-pill ms-auto">45</span>
                                                    </div>

                                                    <img src="/media/img_5.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="topics-detail.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Podcast</h5>

                                                            <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                        </div>

                                                        <span class="badge bg-music rounded-pill ms-auto">20</span>
                                                    </div>

                                                    <img src="/media/img_10.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="education-tab-pane" role="tabpanel" aria-labelledby="education-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="topics-detail.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Graduation</h5>

                                                            <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                        </div>

                                                        <span class="badge bg-education rounded-pill ms-auto">80</span>
                                                    </div>

                                                    <img src="/media/img_8.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="topics-detail.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Educator</h5>

                                                            <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                        </div>

                                                        <span class="badge bg-education rounded-pill ms-auto">75</span>
                                                    </div>

                                                    <img src="/media/img_6.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </section>

            <section id="section_3" class="timeline-section section-padding">
                <div class="row">

                    <div class="col-12 text-center mb-5">
                        <h2 class="mb-4"> Professorlar  </h2>
                    </div>

                </div>
                <div class="row container gap-5 mx-auto">
                    <div class="card mb-3 col">
                        <img src="https://news.airi.uz/wp-content/uploads/2023/12/12.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Ravshanov Normaxmad</h5>
                          <p class="card-text"><small class="text-muted">TEXNIKA FANLAR DOKTORI, PROFESSOR</small></p>
                          <p class="card-text">Ish joyi:<small class="text-muted"></small></p>
                          <p class="card-text">Tel:<small class="text-muted"></small></p>
                        </div>
                      </div>
                      <div class="card mb-3 col">
                        <img src="https://news.airi.uz/wp-content/uploads/2023/11/photo_2023-11-30_11-37-22.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">A’zamova Nilufar Abdullaevna</h5>
                          <p class="card-text"><small class="text-muted">FIZIKA VA MATEMATIKA FANLAR NOMZODI</small></p>
                          <p class="card-text">Ish joyi:<small class="text-muted"></small></p>
                          <p class="card-text">Tel:<small class="text-muted"></small></p>
                        </div>
                      </div>
                      <div class="card mb-3 col">
                        <img src="https://news.airi.uz/wp-content/uploads/2023/11/photo_2023-11-30_11-40-16.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Aminov Sabur Muxtarovich</h5>
                          <p class="card-text"><small class="text-muted">TEXNIKA FANLAR DOKTORI</small></p>
                          <p class="card-text">Ish joyi:<small class="text-muted"></small></p>
                          <p class="card-text">Tel:<small class="text-muted"></small></p>
                        </div>
                      </div>
                </div>
                <div class="row container gap-5 mx-auto">
                    <div class="card mb-3 col">
                        <img src="https://news.airi.uz/wp-content/uploads/2023/12/11.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Kamilov Mirzoyan Mirzaaxmedovich</h5>
                          <p class="card-text"><small class="text-muted">TEXNIKA FANLAR DOKTORI, AKADEMIK</small></p>
                          <p class="card-text">Ish joyi:<small class="text-muted"></small></p>
                          <p class="card-text">Tel:<small class="text-muted"></small></p>
                        </div>
                      </div>
                      <div class="card mb-3 col">
                        <img src="https://news.airi.uz/wp-content/uploads/2023/12/9.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Fazilov Shavkat Xayrullayevich</h5>
                          <p class="card-text"><small class="text-muted">TEXNIKA FANLAR DOKTORI, PROFESSOR</small></p>
                          <p class="card-text">Ish joyi:<small class="text-muted"></small></p>
                          <p class="card-text">Tel:<small class="text-muted"></small></p>
                        </div>
                      </div>
                      <div class="card mb-3 col">
                        <img src="https://news.airi.uz/wp-content/uploads/2023/12/10.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Azimov Baxtiyor Magrupovich</h5>
                          <p class="card-text"><small class="text-muted">TEXNIKA FANLAR DOKTORI, PROFESSOR</small></p>
                          <p class="card-text">Ish joyi:<small class="text-muted"></small></p>
                          <p class="card-text">Tel:<small class="text-muted"></small></p>
                        </div>
                      </div>
                </div>
            </section>

            <section class="timeline-section section-padding" id="section_4">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="text-white mb-4">Loiha bajarilish tartibi</h1>
                        </div>

                        <div class="col-lg-10 col-12 mx-auto">
                            <div class="timeline-container">
                                <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                                    <div class="list-progress">
                                        <div class="inner"></div>
                                    </div>

                                    <li>
                                        <h4 class="text-white mb-3">Ilmiy nashrlar (Научные публикации, Science publications)</h4>

                                        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, cumque magnam? Sequi, cupiditate quibusdam alias illum sed esse ad dignissimos libero sunt, quisquam numquam aliquam? Voluptas, accusamus omnis?</p>

                                        <div class="icon-holder">
                                          <i class="bi-search"></i>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <h4 class="text-white mb-3">Ilmiy aloqalar (Научные связи, Networking)</h4>

                                        <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint animi necessitatibus aperiam repudiandae nam omnis est vel quo, nihil repellat quia velit error modi earum similique odit labore. Doloremque, repudiandae?</p>

                                        <div class="icon-holder">
                                          <i class="bi-bookmark"></i>
                                        </div>
                                    </li>

                                    <li>
                                        <h4 class="text-white mb-3">Tanlovlar (Мероприятия, Events)</h4>

                                        <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi vero quisquam, rem assumenda similique voluptas distinctio, iste est hic eveniet debitis ut ducimus beatae id? Quam culpa deleniti officiis autem?</p>

                                        <div class="icon-holder">
                                          <i class="bi-book"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 text-center mt-5">
                            <p class="text-white">
                                yanada bilishni hohlaysizmi?
                                <a href="#" class="btn custom-btn custom-border-btn ms-3">Youtube davom eting</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-padding section-bg" id="section_5">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-5 col-12">
                            <img src="images/rear-view-young-college-student.jpg" class="newsletter-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
                            <form class="custom-form subscribe-form" action="" method="post" role="form">
                                <h4 class="mb-4 pb-2" id="aloqa">Aloqaga chiqing</h4>

                                <input type="tel" name="subscribe-tel" id="subscribe-email" pattern="+998" class="form-control" placeholder="telefon raqami" required="">

                                <div class="col-lg-12 col-12">
                                    <button type="submit" class="form-control">Aloqa</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>

        </main>

        <footer class="site-footer section-padding" id="section_6">
            <div class="container">
                <div class="row">


                    <div class="col-lg-3 col-md-4 col-6">
                        <h6 class="site-footer-title mb-3">Bo'limlar</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Uy</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">loiha bajarilish tartibi</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Chat</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Aloqa</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Info</h6>

                        <p class="text-white d-flex mb-1">
                            <a href="tel: 305-240-9671" class="site-footer-link">
                                +998 93 973 12 82
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <a href="" class="site-footer-link">

                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            O'zbek</button>

                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Rus</button></li>

                                <li><button class="dropdown-item" type="button">English</button></li>

                                <li><button class="dropdown-item" type="button">Arabic</button></li>
                            </ul>
                        </div>

<!--                        <p class="copyright-text mt-lg-5 mt-4">Created © 2023.06.14 magnitgroup buyurtmasiga asosan yaratildi-->
<!--                        <br><br>Developer: <a rel="nofollow" href="https://t.me/sayidbek_muhammadjonov" target="_blank">Sayidbek</a></p>-->
                        
                    </div>

                </div>
            </div>
        </footer>


        <!-- JAVASCRIPT FILES -->
        <script src="{% static '/jquery.min.js' %}"></script>
        <script src="{% static '/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static '/jquery.sticky.js' %}"></script>
        <script src="{% static '/click-scroll.js' %}"></script>
        <script src="{% static '/custom.js' %}"></script>

    </body>
</html>

